.c-focus {
	width: 960px;
	height: 370px;
	position: relative;
	overflow: hidden;
	border: 1px solid #ccc;
}
.c-focus .c-focus-list {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	width: 8999px;
	height: 100%;
}
.c-focus .c-focus-list li {
	float: left;
	width: 960px;
	height: 100%;
}
.c-focus .c-focus-list img{
	width: 100%;
	height: 100%;
	border: 0;
}
.c-focus .playerControl {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	bottom: 5px;
	right: 5px;
	height: 14px;
}

.c-focus .playerControl li {
	float: left;
	width: 7px;
	height: 7px;
	cursor: pointer;
	margin: 0px 8px;
	background-color: #bbb;
}
.c-focus .playerControl li.current {
	background-color:#ffc526;
}