/*common.css*/
.clr-white{color: #fff;}
.triangle {
    display:block;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow:hidden;
    border-width: 5px;
    border-color: #fff transparent transparent;
    border-style: solid dashed dashed;
    position: absolute;
    font-weight: bold;
}

.triangle-r{
    border-color:transparent transparent transparent #fff;
    border-style:solid solid solid solid;
}
.pr{ position: relative;}
.fr{ float: right;}
.hide{display:none;}
.text-c{ text-align: center;}
/*黑色导航条*/
/* 公告图片顶部导航  */
.mainsite-topnav{width:100%;margin:0px auto;height:30px; line-height:30px; background:#313131;min-width:960px; font:14px/30px 'Microsoft Yahei';}
.mainsite-topnav .mainsite-header{width:960px;margin:0px auto;}
    .mainsite-header .city-t{display:block; height:100%; float:left; color:#fff;}
    .mainsite-header .dealer-in{float:right; display:block; padding:0 25px; height:100%; background-color:#3297e4; color:#fff;}
    .mainsite-header h3{padding:0 20px 0 5px;float:left; position:relative; cursor:pointer;font-weight: normal;z-index: 10001;}
    .mainsite-header h3.on{background-color:#2A4788;}
    .mainsite-header .current{color:#fff;float:left;font-size:14px;font-weight:normal;line-height:20px;padding:5px;}
    .mainsite-header .drop{right:5px;top: 15px;}
    .mainsite-header .on .drop{border-color:transparent transparent #fff; border-style:dashed dashed solid; right:5px;top: 8px;border-width:5px; border-width:5px\9;*border-width:5px;}
    .mainsite-header .on .v-line{display:none;}
/*fixed by dyy 2014/6/13*/
    .mainsite-header .city {background-color: #2a4788; position: absolute; color: #fff; left: 0; top: 30px; width: 442px; padding: 10px 0 10px 14px; z-index: 110;}
    .mainsite-header .city a.city-name { color: #fff; display: block; height: 30px; line-height: 24px; float: left; width:72px; font-size:14px; cursor:pointer;}
    .mainsite-header .city a.city-name span { display:inline-block; padding:0 5px;}
    .mainsite-header .city a.sel span { background:#597cbc;}
    .mainsite-header .triangle { filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6; cursor:pointer;}
/*fixed end*/
/*登陆部分*/
    .mainsite-header .login-box{float:right;height:30px;font:bold 14px "Microsoft Yahei";font-weight:normal;margin-left:15px;}
    .mainsite-header .login-box li{float:left; height:100%; line-height:30px; margin-left:10px; display:inline;}
    .mainsite-header .login-box li a{color:#fff;}
    .mainsite-header .site-nav-pipe{display:inline; float:left;height:28px;line-height:25px;color:#5c5c5c; padding: 2px 3px 0px; font-size:16px;}
    .mainsite-header .login-box .site-nav-pipe-ml0{margin-left:0;}
    .mainsite-header .login-box .news{display:inline-block; height:24px; line-height:24px; background:#fd8f40;color:#fff; padding:0 6px;margin-left:8px;font-weight:bold; cursor:pointer;}
    .mainsite-header .login-box .drop{margin-left:70px;_margin-left:7px;*margin-left:3px;}
    .mainsite-header .login-box li.mouse_over{margin-left:0; width:90px; padding:0 5px 0 10px; *z-index:100; cursor:pointer;}
    .mainsite-header .login-box li.mouse_over span{*cursor:pointer;}
    .mainsite-header .login-box li.mouse_over span.current:hover{text-decoration:underline;}
    .mainsite-header .login-box .mouse_over a:hover{text-decoration:underline;}
    .mainsite-header .login-box .usercenter-on{background-color:#2A4788;}
    .mainsite-header .login-box .usercenter-on .drop{border-color:transparent transparent #fff; border-style:dashed dashed solid; margin-top:-6px; border-width:5px\9;}
    .mainsite-header .login-box .group{display:none; background-color:#2A4788;position:absolute; left:0; top:30px;z-index:99999;width:105px;text-align:left;}
    .mainsite-header .login-box .group a {color:#eee; display:block; height:30px; line-height:28px;padding:0 17px;}
/* add by dyy 2014-7-31*/
    .mainsite-header .login-box .group a.per-exit{border:1px solid #808080;background:#344a7b;text-align:center;margin: 0 2px 2px 2px;}
    .mainsite-header .login-box .group a:hover.per-exit{text-decoration:none}
    .mainsite-header .login-box .gotomsg{margin-top:4px;*margin-top: 1px;}


/*logo+帮助中心*/
a.l-blue-s {
    color: #06c;
    text-decoration: none
}

a.l-blue-s:hover {
    color: #c00;
    text-decoration: underline
}

a.l-blue-s:active {
    color: #06c;
    text-decoration: none
}

.icon_index {
    background-image: url(../../images/index/index_sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.icon-qst-mark {
    background-position: -55px 0;
    width: 35px;
    height: 33px
}
.n-subnav-wider{width:100%; min-width:960px;}
.n-subnav-order{border-bottom:8px solid #eaeaea;}
.n-subnav-wider .subnav-cont-new { width: 960px; background-color: #fff; margin: 0 auto; padding: 0 15px; height: 62px; overflow:hidden;}
.n-subnav-wider .subnav-cont-new .saiclogo{float:left; margin-top: 15px;text-decoration: none}
.n-subnav-wider .subnav-cont-new .saiclogo img{margin-right: 22px}
.n-subnav-wider .subnav-cont-new .slogan { float: left; margin: 15px 0 0 18px;}
.n-subnav-wider .subnav-cont-new .subnav-help { width: 54px; font: 12px/12px 'Microsoft YaHei'; margin-top: 5px}
.n-subnav-wider .subnav-cont-new .triangle-t {
    border-width: 8px;
    right: 7px;
    top: 30px;
    border-color:#cfcfcf transparent transparent;
}
.n-subnav-wider .subnav-cont-new .triangle-b {
    border-width: 8px;
    right: 7px;
    top: 22px;
    border-color: transparent transparent #cfcfcf;
    cursor: pointer;
}
.n-subnav-wider .headerIntro{display: block; height:46px;width: 144px; float:left;font-size:26px;color:#333;border-left:1px solid #e0e0e0; margin-left:20px; line-height:46px; margin-top:10px; padding-left:18px; font-family:"Microsoft Yahei";text-decoration:none;}
.n-subnav-wider .graysize{color:#999;margin-top:22px;}
.n-subnav-wider .graysize .zh{vertical-align:bottom;}
.n-subnav-wider .graysize .btn-back-gray{font:14px "Microsoft Yahei";color:#000;line-height:34px;height:34px;}


/*导航*/
#mainsite-navigation {
    width: 990px;
    margin: auto;
    background-color: #293356;
    font-size: 0;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.5);
    box-shadow: 0 3px 3px rgba(0,0,0,0.5);
    position:relative;
    z-index: 5;
}

#mainsite-navigation .nav-sub {
    float:left;
    padding-left: 50px;
}

#mainsite-navigation .nav-sub li {
    padding-left: 25px;
    padding-right: 15px;
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size:0;
    float:left;
    white-space: nowrap;  /*for ie7 bug*/
}

#mainsite-navigation .nav-see {
    width: 194px;
    border-top: 2px solid #49bced;
}

#mainsite-navigation .nav-buy {
    width: 288px;
    border-top: 2px solid #fa9f00;
}
#mainsite-navigation .nav-use{
    border-top: 2px solid #6e9bff;
}
#mainsite-navigation .nav-link {
    font-family: "Microsoft Yahei";
    font-size: 14px;
    color: #fff;
    padding-bottom: 3px;
}

#mainsite-navigation .nav-link {
    text-decoration: none;
}

#mainsite-navigation .nav-link:hover {
    border-bottom: 1px solid;
}

#mainsite-navigation .nav-see .nav-link:hover {
    border-bottom-color: #009cff;
}

#mainsite-navigation .nav-buy .nav-link:hover {
    border-bottom-color: #fa9f00;
}

#mainsite-navigation .nav-use .nav-link:hover {
    border-bottom-color: #6e9bff;
}

#mainsite-navigation .triangle {
    top: 15px;
    left: 15px;
}

#mainsite-navigation .nav-see .triangle{
    border-left-color: #009cff;
}

#mainsite-navigation .nav-buy .triangle{
    border-left-color: #fa9f00;
}

#mainsite-navigation .nav-use .triangle {
    border-left-color: #6e9bff;
}

#mainsite-navigation .nav-btn:hover {
    background-color: #0365be;
    box-shadow: 0 0 4px #293356 inset;
}

#mainsite-navigation .help-dial {
    float: right;
    height: 40px;
    line-height: 40px;
    border-top: 2px solid #6e9bff;
    width: 147px;
    padding-left: 32px;
}

#mainsite-navigation .num {
    font-size: 20px;
    color: #fff;
    font-family: Kalinga, "Microsoft Yahei", Arial;
    line-height:40px;
}

/*add by dyy*/
#mainsite-navigation .nav-sub .look-pa{
    position: absolute;
    left:0;
    top: -4px;
    z-index: 2;
}
#mainsite-navigation .help-dial .tel-pa{
    position: absolute;
    left:6px;
    top: 6px;
    z-index: 2;
}
#mainsite-navigation .nav-link.nav-link-cxh{
	font-weight: bold;
	color: #fa9f00;
	font-size: 16px;
}

#mainsite-navigation .nav-use .icon_new {
	top: -4px;
	right: -7px;
}

#mainsite-navigation .nav-cxh 
.icon_index {
    background-image:url(../../images/index/index_sprite.png);
    background-repeat:no-repeat;
    display:inline-block;
    *display:inline;
    *zoom:1;
}

#mainsite-navigation .nav-sub .nav-cxh {
	padding: 0 12px 0 23px;
	width: 48px; /*为了兼容mac*/
}

.icon-nav-cxh{
    background-position:-95px -108px;
    width:43px;
    height:14px;
    position: absolute;
    left:25px;
    top:14px;
    font-size:0;
}

.icon-tel {
    background-position:-95px -80px;
    width:26px;
    height:23px;
}
.icon-qst-mark {
    background-position:-55px 0;
    width:35px;
    height:33px;
}


.icon-nav-look {
    background-position:0 0;
    width:50px;
    height:45px;
}
.icon-nav-buy {
    background-position:0 -50px;
    width:50px;
    height:45px;
}
.icon-nav-use {
    background-position:0 -99px;
    width:50px;
    height:45px;
}

#mainsite-navigation .icon_new {
	background-position: -95px -126px;
	width: 30px;
	height: 18px;
	position: absolute;
	z-index: 100;
}


/* ========================底部 ===================*/
.mainsite-footer{width:100%;background:#e0e0e0;margin-top:50px;}
.mainsite-footer .footer_link{width:960px;margin:0 auto;overflow:hidden;height:92px;line-height:92px;background:#e0e0e0;}
.mainsite-footer .footer_link li{float:left;font:14px "Microsoft Yahei";line-height:92px;padding-left:20px;box-sizing: content-box;}
.mainsite-footer .footer_link li a{display:block;color:#434242;}
.mainsite-footer .footer_link .dealersenter{width:88px;height:40px;background:url(../../images/footerdealersenter.png) no-repeat;line-height:40px;padding-left:13px;margin-top:26px;margin-left:29px;}
.mainsite-footer .footer_link .dealersenter a{color:#fff;}
.mainsite-footer .copyrightbox{width:100%;background:#f9f9f9;padding:40px 0 40px;}
.mainsite-footer .simplecopy{ padding:24px 0 40px;}
.mainsite-footer .copyrightbox .copyright{width:960px;margin:0 auto;}
.mainsite-footer .copyrightbox .copyright p{text-align:center;font:12px/24px "Microsoft Yahei";color:#7d7d7d;}
.mainsite-footer .copyrightbox .subfooter{margin-top:30px; text-align:center;}
.mainsite-footer .copyrightbox .subfooter a{padding:0 5px;}


/**========================在线客服======================*/
/* 新IM图标  */
#imblock {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 510px;
    margin-top:-104px;
    z-index: 9999;
}

#imblock:hover {
    cursor: pointer;
}
.mainsite-im, .backtoTop, #imblock .mainsite-weixin, .mainsite-cxh, #imblock .mainsite-weixin-sub{
    width: 54px;
    background: url(../../images/imbg.png) no-repeat;
}

.mainsite-im {
    width: 54px;
    height: 75px;
    background-position: 0 0;
}

.mainsite-cxh {
	width: 54px;
	height: 73px;
	background-position: 0 -280px;
	display: block;
	color: transparent;
	text-indent: -9999em;
}

.backtoTop {
    width: 54px;
    height: 62px;
    background-position: 0 -75px;
}

#imblock .mainsite-weixin, #imblock .mainsite-weixin-sub {
    width: 54px;
    height: 71px;
    position: relative;
    z-index: 9999;
}

#imblock .mainsite-weixin {
	background-position: 0 -138px;
}

#imblock .mainsite-weixin-sub {
    background-position: 0 -353px;
}

#imblock .mainsite-weixin-sub.highlight {
    background-position: 0 -426px;
}

#imblock .mainsite-weixin.highlight {
    background-position: 0 -209px;
}


#imblock .weixin-code {
    position: absolute;
    top: -78px;
    left: -224px;
    z-index: 9999;
    display: none;
}

#imblock .weixin-code-sub {
    position: absolute;
    top: -78px;
    left: -224px;
    z-index: 9999;
    display: none;
}

#imblock .weixin-code:hover {
    cursor: default;
}