#J_arrowSlider.slider-rectangle .slider-markers {
    width:720px;
    height:6px;
    padding:13px 0 11px 270px;
}
.slider-figure .slider-markers li,
.slider-dot .slider-markers li,
#J_arrowSlider.slider-rectangle .slider-markers li {
   display:inline;
   float:left;
}

#J_arrowSlider.slider-rectangle .slider-markers li.active-marker {
   margin-top:-1px;
}

#J_arrowSlider.slider-figure .slider-markers,
.slider-dot .slider-markers {
    width:546px;
    padding:12px 0 12px 450px
}

.slider-figure .slider-markers li{
    width:10px;
}