.n-subnav-wider .subnav-cont-new{
	width: 960px;
	background-color:#fff;
	margin:0 auto;
	padding: 0 15px;
	height:62px;
}
.n-subnav .subnav-cont-new .saiclogo {
	margin-top: 10px;
}
.n-subnav-wider .subnav-cont-new .fr{
	width: 54px;
	font:12px/12px 'Microsoft YaHei';
	margin-top: 5px;
}
/*link style*/
a.l-blue-s {color:#06c;text-decoration:none}
a.l-blue-s:hover {color:#c00;text-decoration:underline}
a.l-blue-s:active {color:#06c;text-decoration:none}

.icon_index {
    background-image:url(../../images/index/index_sprite.png);
    background-repeat:no-repeat;
    display:inline-block;
    *display:inline;
    *zoom:1;
}
.icon-qst-mark {
background-position: -55px 0;
width: 35px;
height: 33px;
}
.messageNum{
	background: rgb(216, 105, 31);
	width: 20px;
	height: 16px;
	margin-left: 60px;
	font-style: normal;
	font-size: 12px;
	line-height: 16px;
	display: block;
	text-align: center;
	position: absolute;
	right: 2px;
	bottom: 37px;
}
/*88节广告位*/
#holidayAd {
	width: 990px;
	height: 50px;
	margin: 0 auto;
	display: none;
}

