/*
 * @description: 新明锐试驾专题页面;
 * @author:lingweifeng;
 * @data:201405015;
*/
/*body{background: url(../images/bg.gif);}*/
.xmr-main{margin:0 auto 20px auto; width:1160px; min-height:600px; background:#f4f6f6; font-family:Microsoft Yahei; color:#5a5a5a;}
.xmr-main img{display:block;}
.xmr-check-wrapper{position:relative;}
.xmr-go{ position:absolute; top:80px; left:430px; display:block; width:305px; height:75px;}
.xmr-check{position:absolute; top:190px; right:130px; display:block; width:146px; height:32px; line-height:100px; overflow:hidden; background:url(../../../images/octavia/xmr_check.jpg) no-repeat;}
.xmr-media{width:1160px; padding-top:80px; height:76px; background:url(../../../images/octavia/xmr_19.jpg) no-repeat;}
.xmr-media .list{margin-left:123px; width:950px;}
.xmr-media .list li{float:left; margin-right:20px; height:18px; margin-bottom:10px; width:440px; overflow:hidden; border-left:4px solid #013ca6; font:15px/18px Microsoft Yahei; background:url(../../../images/octavia/list_dot.gif) center center repeat-x;}
.xmr-media .list li a{display:inline-block; *zoom:1; background:#fff; color:#013ca6;}
.xmr-media .list li a:hover{color:#c00;}
.xmr-media .list li .tit{padding-left:5px;}
.xmr-media .list i{font-style:normal;}
.xmr_05_bg{ width:1160px; height:242px; background:url(../../../images/octavia/xmr_05.jpg) no-repeat;}
.dealer-wrap{background:url(../../../images/octavia/dealer_bg.gif) repeat-y;}

/*关注号+底部*/
.rapid-weixin{ height:164px; background-color:#e0e0e0; padding-top:20px; border-bottom:1px solid #b5b5b5;}
.rapid-bottom{ height:66px; background-color:#e0e0e0; border-top:1px solid #f3f3f3;}
.footer_link li{ float:left; padding-left:28px; line-height:66px; font-size:14px; font-family:"Microsoft Yahei"; font-weight:bold;}
.footer_link li a{ color:#333;}
.footer_link .dealersenter{ width:95px; background: url(../../../images/octavia/footerdealersenter.png) no-repeat 15px 12px;}
.footer_link .dealersenter a{ color:#fff;}
.footer{ margin-top:0px;}