/*!
* common.css V1.2
* Update 2013-11-06
*/

/* 字体 */
.f-12{ font-size: 12px;}
.f-14{ font-size: 14px;}
.f-16{ font-size: 16px;}
.f-18{ font-size: 18px;}
.f-20{ font-size: 20px;}
.f-24{ font-size: 24px;}
.f-b{font-weight: bold;}
.f-n{font-weight: normal;}
.f-yahei{font-family:"Microsoft Yahei";}


/* 字体颜色 */
.clr-white{color: #fff;}
.clr-gray3{color: #333;}
.clr-gray6{color: #666!important;}
.clr-gray9{color: #959595!important;}
.clr-red{color: #d70000;}
.clr-green{color: #01fa0d;}
.clr-light-green{color:#36b200;}
.clr-blue{color: #001ddc;}
.clr-light-blue{ color: #3F67C0;}
.clr-orange{color:#ff8e42;}


/* 统一链接样式 */ /* added by CD, 21/11/2p13  */
/*  新闻内容 链接样式  */ /*IE 7, active bug, no outline */
a.link-blue:link {color: #3F67C0; background: none; outline: none;}   /* 蓝色 */ /* 新闻内容 */ 
a.link-blue:visited {color: #6B6B6B; background: none; outline: none; text-decoration: none;}
a.link-blue:hover {color: #D70000; outline: none; text-decoration: underline;}
a.link-blue:active { background: none; outline: 1px dotted #000;}

a.link-deepblue:link  {color: #3C4D7B; background: none; outline: none;}  /* 淡蓝色 */ /* 新闻内容 */
a.link-deepblue:visited {color: #6B6B6B; background: none; outline: none; text-decoration: none;}
a.link-deepblue:hover {color: #D70000; outline: none; text-decoration: underline;}
a.link-deepblue:active { background: none; outline: 1px dotted #000;}

/* 链接文字样式2 */
a.link-dark:link  {color: #000; background: none; outline: none;}   /* 黑色 */ /* 车系名字 */ 
a.link-dark:visited {color: #000; background: none; outline: none; text-decoration: none;}
a.link-dark:hover {color: #D70000; outline: none; text-decoration: underline;}
a.link-dark:active { background: none; text-decoration: underline; outline: 1px dotted #000;}

/* 链接文字样式3：突出显示文字 */
a.link-orange:link  {color: #FF8E42; background: none; outline: none;} /* 橙色 */  /* 高亮 */  
a.link-orange:visited {color: #6B6B6B; background: none; outline: none; text-decoration: none;}
a.link-orange:hover {color: #FF8E42; outline: none; text-decoration: underline;}
a.link-orange:active {background: none; text-decoration: none; outline: 1px dotted #000;}

a.link-darkblue:link  {color: #001DDC; background: none; outline: none;} /* 蓝色 */  /*  */
a.link-darkblue:visited {color: #001DDC; background: none; outline: none; text-decoration: none;}
a.link-darkblue:hover {color: #779AE9; outline: none; text-decoration: underline;}
a.link-darkblue:active {background: none; text-decoration: underline; outline: 1px dotted #000;}

/* added by CD 2013/12/23 视觉规范更新 */
a.link-morecar:link {color: #3f67c0; background: none; outline: none;}
a.link-morecar:hover {color: #6e9bff; background: none; outline: none;}

/* 定位 */
.pr{ position: relative;}
.pa{ position: absolute;}
.fl{ float: left;}
.fr{ float: right;}


/* 强制不换行 */
.nowrap{ white-space: nowrap;}
/* 英文字符换行 */
.wrap{ display: table; table-layout: fixed; word-wrap: break-word;}
/* 单行文字溢出虚点显示 */
.ell{ text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}


/* css3圆角 */
.css3-round5{
    border:#ddd solid 1px;
    -moz-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}


/* 导航三角符号 */
.triangle {
    display:block;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow:hidden;
    border-width: 5px;
    border-color: #fff transparent transparent;
    border-style: solid dashed dashed;
    position: absolute;
    font-weight: bold;
}
.triangle-l{
    border-color:transparent #fff transparent transparent;
    border-style:solid solid solid solid;
}
.triangle-r{
    border-color:transparent transparent transparent #fff;
    border-style:solid solid solid solid;
}
.triangle-t{
    border-color:#fff transparent transparent ;
    border-style:solid solid solid solid;
}
.triangle-b{
    border-color:transparent transparent #fff;
    border-style:solid solid solid solid;
}


/* 通用布局  */
.w960{width: 960px; margin:0 auto;}
.w1030{width: 1030px; margin:0 auto;}


/* 通用定位  */
.dsp-n{display:none;}
.dsp-i{display:inline;}
.dsp-b{display:block;}
.dsp-ib{display:inline-block; *display: inline;*zoom:1}

.vsb-h{visibility: hidden;}
.ovf-h{overflow:hidden;}

.va-m{vertical-align: middle;}
.va-t{vertical-align: top;}
.va-b{vertical-align:bottom;}

.text-c{ text-align: center;}
.text-l{ text-align: left;}
.text-r{ text-align: right;}


/* padding margin */
.pdl-10{padding-left:10px;}
.pdl-5{padding-left:5px;}
.pdr-10{padding-right:10px;}
.pdt-10{padding-top:10px;}
.pdtb-10{padding:10px 0;}
.mr-10{margin-right:10px }
.mr-5{margin-right:5px }
.ml-10{margin-left:10px;}
.mr-10{margin-top:10px;}
.mt-20{margin-top:20px;}
.mb-10{margin-bottom:10px;}

.ml-5{margin-left:10px;}
.ml-30{margin-left:30px;}
.mr-15{margin-right:15px;}
.mb-30{margin-bottom:30px;}
.mr-20{margin-right:20px;} /* added by CD, sprint2 Wed 11/20/2013 */
.mt-15{margin-top:15px;} /* added by CD, sprint2 Wed 11/20/2013 */
.mb-20{margin-bottom:20px;}
.mt-30{margin-top: 30px} /* added by CD, sprint2 Wed 11/21/2013 */
.mb-18{margin-bottom:18px;}
.mb-50{margin-bottom:50px;}
.mt-10{margin-top:10px;}
.mt-50{margin-top:50px;}
 
/*button*/
.btn,.btn-med,.btn-sml{display: inline-block;*display:inline;*zoom:1;width: 160px;height: 50px;line-height:50px;font-size: 14px;font-family:Microsoft Yahei;background-color:#35b5eb;color:#fff;
        border: none;-moz-border-radius:4px;-khtml-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;cursor: pointer;text-align: center;}
.btn:hover,.btn-med:hover,.btn-sml:hover{background-color:#61d0ff; text-decoration: none;} /* 取消链接下划线 。added by CD，2013/12/18 */
.btn-med{width: 140px;height: 34px;line-height: 34px;}
.btn-sml{width: 95px;height: 40px; line-height: 40px;}
.btn-min{width: 80px;height: 25px; line-height:25px;-moz-border-radius:0px;-khtml-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;}

.btn-yellow{background-color:#ff8e42;}  /* warning: CD, 这个颜色TM是橙色的，我在下面复制了一个，改成了orange*/
.btn-yellow:hover{background-color:#ffaf79;}

.btn-orange{background-color:#ff8e42;}  /* added by CD, sprint2 Wed 11/20/2013 */
.btn-orange:hover{background-color:#ffaf79;}

.btn-green{background-color:#10965c;}
.btn-green:hover{background-color:#2ecc71;}

.btn-blue{background-color:#3f67c0;}
.btn-blue:hover{background-color:#6e9bff;}

.btn-gray{background-color:#bdc3c7;}
.btn-gray:hover{background-color:#d0d5d8;}

.btn126-34{width: 126px;height: 34px;line-height: 34px;}

/* addeed by CD, sprint4 修改 */
.btn-form {
	width: 65px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	border-radius: 0;
	border: 1px solid #cfcfcf;
}

.btn-form:hover {
	border-color: #ababab;
}

.btn-form-gray {
	background-color: #e8e8e8;
	color: #000;
}

.btn-form-gray:hover {
	background-color: #cfcfcf;
	
}

.btn-price,.btn-apply,.btn-drive,.btn-active,.btn-example,.btn-order,.btn-med-price,.btn-med-apply,.btn-med-drive,.btn-med-active,.btn-med-example,.btn-search{background-image:url(../images/bg-commonbtn.png);text-indent: 40px; *text-indent:0;*padding-left:40px; *width:120px}
input.btn-price,input.btn-apply,input.btn-drive,input.btn-active,input.btn-example,input.btn-order,input.btn-med-price,input.btn-med-apply,input.btn-med-drive,input.btn-med-active,input.btn-med-example{*width:160px}
.btn-price{background-position: 20px 15px;background-repeat: no-repeat;}
.btn-apply{background-position: 20px -81px;background-repeat: no-repeat;}
.btn-drive{background-position: 20px -146px;background-repeat: no-repeat;}
.btn-active{background-position: 20px -290px;background-repeat: no-repeat;}
.btn-example{background-position: 20px -215px;background-repeat: no-repeat;}
.btn-order{background-position: 20px -328px;background-repeat: no-repeat;}

.btn-search{background-position: 37px -456px;background-repeat: no-repeat;font-size: 18px;text-indent: 30px;}
.btn-med-price,.btn-med-apply,.btn-med-drive,.btn-med-active,.btn-med-example{text-indent: 30px;*text-indent:0;*padding-left:30px;*width:95px}
input.btn-med-price,input.btn-med-apply,input.btn-med-drive,input.btn-med-active,input.btn-med-example{*width:125px}
.btn-med-price{background-position: 20px -25px;background-repeat: no-repeat;}
.btn-med-apply{background-position: 20px -55px;background-repeat: no-repeat;}
.btn-med-drive{background-position: 20px -122px;background-repeat: no-repeat;}
.btn-med-active{background-position: 20px -263px;background-repeat: no-repeat;}
.btn-med-example{background-position: 20px -187px;background-repeat: no-repeat;}

/*form start 2013-11-06*/
form.usual{padding:0 50px;}
form.usual p{margin:10px 0;}
select{background: #fff;border: 1px solid #ddd}
form.usual input,form textarea{border: 1px solid #ddd;background-color:#fff;color: #6c6c6c;padding:0 10px;font-size: 12px;}
form.usual input{width: 240px;height: 36px;line-height: 36px;}
form.usual input:focus,form textarea:focus{border-color:#aaa;}
form.usual input.radiobtn,form.usual input.checkbtn{width:13px;height:13px;border:none;padding: 0;background: none;margin: 0 5px;}
form.usual input.upfile{width: auto;height: auto;border:none;line-height:20px;padding: 0;border: 1px solid #ddd\0;*border: 1px solid #ddd;}
form.usual input.btn{width:220px;height:50px;background: #36b5ea;font-family:Microsoft YaHei;color: #fff;font-size: 16px;border: none;cursor: pointer;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
form.usual textarea{width:300px;height: 80px;resize: none;overflow: auto;}
/*form end*/



/* 我的会员中心顶部导航 */
.iconthree-all{ background:url(../images/menuArrowDown.jpg) no-repeat;}
.m-topnav{width:100%;margin:0px auto;height:34px; background:#303030;min-width:960px;}
.m-topnav .header{width:960px;margin:0px auto;}
.m-topnav .header h1{float:left;font:bold 16px "Microsoft Yahei"; margin-right:20px;}
.m-topnav .header h1 a{color:#fff;height:34px; line-height:34px;}
.m-topnav .header .gary{display:inline;float:left;height:34px;line-height: 34px;color: #595959;padding: 0px 6px 0px;font-weight:400}

.m-topnav .header .top-menu{display:inline; float:left;/* margin-left:12px;*/}
.m-topnav .header .top-menu li{display: block;float: left;font:14px "Microsoft Yahei";height: 34px;line-height:34px;margin-left:15px;padding-left:0;width:66px;} 
.m-topnav .header .top-menu li a{color:#fff; display:block; margin-left:10px;}
.m-topnav .header .login-box{padding-right:10px; float:right; height:34px; background:#000;line-height:34px;font:14px "Microsoft Yahei";}
.m-topnav .header .login-box li{float:left; height:34px;line-height:34px;margin-left:10px;font-weight:normal;}
.m-topnav .header .login-box li a{color:#fff;}
.m-topnav .header .login-box .site-nav-pipe{display:inline;float:left;height:34px;line-height:34px;color:#595959;padding:0px 3px 0px;font-weight:400;}
.m-topnav .header .login-box .news{display:inline-block; *display:inline; height:20px; line-height:20px; background:#fd8f40;color:#fff;padding:2px 6px;margin-left:8px;font-weight:bold;}
.m-topnav .header .login-box a:hover .news{text-decoration:none;}

.m-topnav .header .current{color:#fff;float:left;font-size:14px;font-weight:normal;line-height:24px;padding:5px;}
.m-topnav .header .top-menu li.mouse_over{width:85px; padding:0 5px 0 10px; cursor:pointer;}
.m-topnav .header .top-menu li.mouse_over span{*cursor:pointer;}
.m-topnav .header .top-menu li.mouse_over a{margin-left:0;}
.m-topnav .header .top-menu li.mouse_over a:hover{text-decoration:none;} 
.m-topnav .header .drop{margin-top:15px;margin-left:70px;_margin-left:7px;*margin-left:3px;}
.m-topnav .header .login-box li.mouse_over{margin-left:0; width:85px; padding:0 5px 0 10px; cursor:pointer;}
.m-topnav .header .login-box li.mouse_over span{*cursor:pointer;}
.m-topnav .header .login-box li.mouse_over a:hover{text-decoration:none;} 
.m-topnav .header .login-box .usercenter-on .drop{border-color:transparent transparent #fff; border-style:dashed dashed solid; margin-top:8px; border-width:6px\9;}
.m-topnav .header .tool-on{background-color:#000;}
.m-topnav .header .tool-on .drop{border-color:transparent transparent #fff; border-style:dashed dashed solid; margin-top:8px; border-width:6px\9;}
.m-topnav .header .group{display:none; background-color:#000;position:absolute; left:0; top:34px;z-index:10;width:120px;}
.m-topnav .header .login-box .group{width:100px;}
.m-topnav .header .group a {color:#eee; margin-left:0; display:block; height:30px; line-height:28px;padding:0 17px;}
.m-topnav .header .group a:hover{background-color:#303030; text-decoration:none;} 

.m-subnav{width:100%;margin:0px auto;height:65px; background:#3f67bf;min-width:960px;}
.m-subnav .subnav-menu{width:960px;margin:0px auto;overflow:hidden;}
.m-subnav .subnav-menu h2 a{font:bold 20px "Microsoft Yahei"; height:65px;line-height:65px;color:#fff; float:left;}
.m-subnav .subnav-menu h2 a:hover{text-decoration:none;}
.m-subnav .subnav-menu .remide{display:inline;float:right; width:814px;}
.m-subnav .subnav-menu .remide li{display:inline;float:right;height:65px;line-height:65px;color:#fff;margin-left:50px;}
.m-subnav .subnav-menu .remide li a{color:#fff;font-style:normal;}
.m-subnav .subnav-menu .remide .iconorder{width:10px; height:12px;background-position:-69px 0px;display:inline-block;vertical-align:middle;margin-right:6px;}
.m-subnav .subnav-menu .remide .iconinfo{width:12px; height:12px;background-position:-47px 0px;display:inline-block;vertical-align:middle;margin-right:6px;}
.m-subnav .subnav-menu .remide .iconbrand{width:14px; height:11px;background-position:-23px 0px;display:inline-block;vertical-align:middle;margin-right:6px;}
.m-subnav .subnav-menu .remide .iconplatform{width:13px; height:12px;background-position:0px 0px;display:inline-block;vertical-align:middle;margin-right:6px;}



/* 经销商顶部导航 */
.d-subnav{width:960px;margin:8px auto 0px;overflow:hidden;} 
.d-subnav .ban{width:960px;height:150px;}
.d-subnav .nav{width:960px; height:41px;float:left;background:#2d86db;}
.d-subnav .nav ul{display:inline;float:left;height:41px;}
.d-subnav .nav ul li{float:left; width:125px;height:41px;line-height:41px;display: block;padding: 0 0px 0 10px;text-align: center;}
.d-subnav .nav ul li a{color:#fff;font:14px "Microsoft Yahei";}
.d-subnav .nav ul .index a:hover{ width:125px;height:41px; background: url(../images/iconhome.png) no-repeat; display:block;line-height:41px;}
.d-subnav .nav ul .car a:hover{ width:125px;height:41px; background: url(../images/iconcar.png) no-repeat; display:block;line-height:41px;}
.d-subnav .nav ul .sales a:hover{ width:125px;height:41px; background: url(../images/sales.png) no-repeat; display:block;line-height:41px;}
.d-subnav .nav ul .infor a:hover{ width:125px;height:41px; background: url(../images/infor.png) no-repeat; display:block;line-height:41px;}
.d-subnav .nav ul .about a:hover{ width:125px;height:41px; background: url(../images/iconabout.png) no-repeat; display:block;line-height:41px;}



/* 公告图片顶部导航  */
.n-topnav{width:100%;margin:0px auto;height:30px;background:#313131;min-width:960px;}
.n-topnav .header{width:960px;margin:0px auto;}
.n-topnav .header h3{padding:0 30px 0 5px;float:left;font:bold 14px "Microsoft Yahei"; line-height:40px;position:relative; cursor:pointer;}
.n-topnav .header h3.on{background-color:#2A4788;}
.n-topnav .header .current{color:#fff;float:left;font-size:14px;font-weight:normal;line-height:30px;padding:5px;}
.n-topnav .header .drop{margin-top:19px;margin-left:45px;_margin-left:7px;*margin-left:7px;}
.n-topnav .header .on .drop{border-color:transparent transparent #fff; border-style:dashed dashed solid; margin-top:12px; border-width:6px\9;}
.n-topnav .header .on .v-line{display:none;}

.n-topnav .header .city{background-color:#2a4788;position:absolute;color:#fff;left:0; top:38px; width:233px; padding:10px 0;}
.n-topnav .header .city a{color:#fff;display:block;height:30px;line-height: 30px; float:left; padding:0 15px;}
.n-topnav .header .v-line{position:absolute; top:12px; right:0; width:0; height:20px; font-size:0; border-right:1px solid #6585CD;}

.n-topnav .header .top-search{width:181px; padding:0 2px 0 7px; height:30px;float:right;margin-top:5px;background-color:#2a4788;}
.n-topnav .header .top-search .searchText{background:none;color: #fff; margin-top:2px; float: left;height:26px;line-height: 26px; width: 145px; border:0px; font-weight:bold;}
.n-topnav .header .top-search .searchBtn {background:url(../images/smalliconone.png) no-repeat 2px -22px;cursor:pointer; float: left; height:26px;overflow:hidden;text-indent:-999em;width:34px;border:0px;}
.n-topnav .header .top-search-on{width:181px; padding:0 0 0 5px; height:26px; border:2px solid #fff;background-color:#3F67C0;}
.n-topnav .header .top-search-on .searchText{margin-top:0;}
.n-topnav .header .top-search-on .searchBtn{background-position:2px -24px;}
.n-topnav .header .login-box{padding-right:10px; float:right;height:40px;line-height:40px;font:bold 14px "Microsoft Yahei";font-weight:normal;margin-left:15px;}
.n-topnav .header .login-box li{float:left; height:40px;line-height:40px;margin-left:10px; display:inline;}
.n-topnav .header .login-box li a{color:#fff;}
.n-topnav .header .login-box li a.logout-bind{color:#c6deff;}
.n-topnav .header .login-box .site-nav-pipe{display:inline; float:left;height:35px;line-height:35px;color: #6585cd;padding: 2px 3px 0px;font-weight:400;}
.n-topnav .header .login-box .site-nav-pipe-ml0{margin-left:0;}
.n-topnav .header .login-box .news{display:inline-block; height:24px; line-height:24px; background:#fd8f40;color:#fff; padding:0 6px;margin-left:8px;font-weight:bold; cursor:pointer;}
.n-topnav .header .login-box a:hover .news{text-decoration:none;}
.n-topnav .header .login-box .drop{margin-top:19px;margin-left:70px;_margin-left:7px;*margin-left:3px;}
.n-topnav .header .login-box li.mouse_over{margin-left:0; width:85px; padding:0 5px 0 10px; *z-index:10; cursor:pointer;}
.n-topnav .header .login-box li.mouse_over span{*cursor:pointer;}
.n-topnav .header .login-box .mouse_over a:hover{text-decoration:none;} 
.n-topnav .header .login-box .usercenter-on{background-color:#2A4788;}
.n-topnav .header .login-box .usercenter-on .drop{border-color:transparent transparent #fff; border-style:dashed dashed solid; margin-top:12px; border-width:6px\9;}
.n-topnav .header .login-box .group{display:none; background-color:#2A4788;position:absolute; left:0; top:40px;z-index:99;width:100px;}
.n-topnav .header .login-box .group a {color:#eee; display:block; height:30px; line-height:28px;padding:0 17px;}
.n-topnav .header .login-box .group a:hover{background-color:#3F67C0;}
 

.n-subnav{width:100%; /*border-bottom:8px solid #eaeaea;*/min-width:960px;}
.n-subnav .subnav-cont{width:960px;margin:0 auto;overflow:hidden;}
.n-subnav .subnav-cont .saiclogo{height:41px;float:left;}
.n-subnav .subnav-cont .subnav-tit{display:inline; float:left; margin-top:5px;}
.n-subnav .subnav-cont .subnav-tit .subnav-tit-nr{/*margin:19px 0px 15px;*/}
.n-subnav .subnav-cont .subnav-tit .subnav-tit-nr li{float:left; width:106px;font:18px "Microsoft Yahei";padding: 0 0px 0 50px;}
.n-subnav .subnav-cont .subnav-tit .subnav-tit-nr li a{color:#353535;}
.n-subnav .subnav-cont .subnav-tit .subnav-tit-nr li a:hover{text-decoration:none;}
.n-subnav .subnav-cont .subnav-tit .subnav-tit-nr .iconlist{width:16px;height:15px;display:inline-block;margin-left:9px;vertical-align:-1px;*vertical-align:4px;}
.n-subnav .subnav-cont .subnav-tit .subnav-tit-nr .menu-arrow-up{background:url(../images/menuArrowUp.jpg) no-repeat;}

.n-subnav .headerIntro{display: block; height:46px;width: 144px; float:left;font-size:26px;color:#333;border-left:1px solid #e0e0e0; margin-left:20px; line-height:46px; margin-top:10px; padding-left:18px; font-family:"Microsoft Yahei";text-decoration:none;}
.n-subnav .graysize{color:#999;margin-top:22px;}
.n-subnav .graysize .zh{vertical-align:bottom;}
.n-subnav .graysize .btn-back-gray{font:14px "Microsoft Yahei";color:#000;line-height:34px;height:34px;}

/*车型大全和购车工具 update 2014.1.17 by 楚呈祥*/
.n-subnav .subnav-cont .subnav-tit .subnav-tit-nr .subnav-menu{line-height:100px; display:block;}
.n-subnav .subnav-cont .subnav-tit .subnav-tit-nr .active{background-image:url(../images/menuArrowUp2.png); background-position: 25px bottom; background-repeat:no-repeat;}

.nav-pane-inner{min-height:8px; background-color:#eaeaea; overflow:hidden; position:relative;}
.nav-pane-inner .n-sub-close{width:35px; height:35px; background-image:url(../images/menuClose.png); display:block; position:absolute; right:0px; cursor:pointer;}
.nav-pane-inner .n-sub-vehicle{height:365px; width:960px; margin:0px auto; display:none; position:relative}
.nav-pane-inner .n-sub-vehicle .vehicle-inner .brand-list{padding-top: 10px;}
.nav-pane-inner .n-sub-vehicle .vehicle-inner .brand-list li{float:left;}
.nav-pane-inner .n-sub-vehicle .vehicle-inner .brand-list a{display:inline-block; width:100px; height:30px; font:normal 14px/10px "Microsoft Yahei";}
.nav-pane-inner .n-sub-vehicle .vehicle-inner .brand-list .cadillac-w-120{width:120px;}
.nav-pane-inner .n-sub-vehicle .vehicle-inner .brand-list a:hover{text-decoration:none;}
.nav-pane-inner .n-sub-vehicle .vehicle-inner .brand-list i{float:left;padding-right:15px;}
.nav-pane-inner .n-sub-vehicle .vehicle-inner .n-sub-carlist{margin-top:40px; margin-left: -6px;}
.nav-pane-inner .n-sub-vehicle .vehicle-inner .n-sub-carlist li{width: 180px; height: 120px; background: url(../images/n-car-bg.jpg) no-repeat; float: left; position: relative; margin:0 0 10px 13px;}
*+html .nav-pane-inner .n-sub-vehicle .vehicle-inner .n-sub-carlist li{margin-left: 12px;}
.nav-pane-inner .n-sub-vehicle .vehicle-inner .n-sub-carlist .car-title-sty{position: absolute; left: 0; bottom: 0; z-index: 98; width: 180px; height: 26px; text-align: center; display: inline-block; font: normal 14px/26px "Microsoft Yahei"; color: #000; background: rgba(255,255,255,0.5);}
.nav-pane-inner .n-sub-vehicle .vehicle-inner .go-car-brand{text-align: right;}
.nav-pane-inner .n-sub-vehicle .vehicle-inner .go-car-brand a{font: normal 16px/26px "Microsoft Yahei"; color: #000;}

.nav-pane-inner .n-sub-toolkit{height:112px; width:960px; background: url(../images/buycar-toolkit.jpg) 65px 0 no-repeat; margin:0px auto; display:none; position:relative;}
.nav-pane-inner .n-sub-toolkit .toolkit-btn{width: 248px; float: right; margin-right: 50px;}
.nav-pane-inner .n-sub-toolkit .toolkit-btn li{float: left;}
.nav-pane-inner .n-sub-toolkit .toolkit-btn a{width: 114px; height: 40px; line-height: 40px; float: left;margin:8px 10px 0 0;}
.nav-pane-inner .n-sub-toolkit .toolkit-btn .btn-darkred{background-color: #ac322f;}
.nav-pane-inner .n-sub-toolkit .toolkit-btn .btn-darkred:hover{background-color: #e55a56;}
.nav-pane-inner .n-sub-toolkit .toolkit-btn .btn-green2{background-color: #4a8a34;}
.nav-pane-inner .n-sub-toolkit .toolkit-btn .btn-green2:hover{background-color: #63b746;}
.nav-pane-inner .n-sub-toolkit .toolkit-btn .btn-orange2{background-color: #eaa501;}
.nav-pane-inner .n-sub-toolkit .toolkit-btn .btn-orange2:hover{background-color: #fcbb20;}


/* tab按钮切换 */
.tab{width:773px;float:left;border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;border-top:3px solid #000;}
.tab .tabbutton{width:773px; margin-top:1px; overflow:hidden;}
.tab .tabbutton li{float:left;height:40px;line-height:40px;font:16px "Microsoft Yahei";font-weight:normal;background:#3f67bf;padding:0px 85px;text-align:center;border-right:1px solid #fff; margin-left:1px;}
.tab .tabbutton li a{color:#fff;height:40px;line-height:40px;}
.tab .tabbutton .on{float:left;height:40px;line-height:40px;background:#fff;} 
.tab .tabbutton .on a{color:#3f69bf;}
.tab .cont{width:773px;margin:50px 0px 70px;overflow:hidden;}



/* 页头公告  */
.top_collect_main{width:100%;background:#ff8e42;height:40px;}
.top_collect_main .top_collect{ font:bold 14px "Microsoft Yahei"; height:40px;line-height:40px;margin:0 auto;overflow: hidden;position:relative;text-align:center;width: 960px; color:#fff;background:#ff8e42;}
.top_collect_main .top_collect .close{cursor:pointer;position:absolute;right: 10px;top:12px;}



/* 面包屑 */
.breadcrumbs{margin-top:12px;height:26px;font:14px "Microsoft Yahei";color:#010101;padding-left:2px;}
.breadcrumbs a,.breadcrumbs span{color:#010101; padding:0px 6px;}


/*setting*/
.hide{display:none;}


/*标题*/
.title{font-weight:normal;clear: both; display: block; position: relative}
.title:before, .title:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0;}
.title:after{ clear: both;}
.title{ zoom: 1;}
.title .title-more,.title .title-tab {position:absolute;right:0}
.title-m{border-bottom: 3px solid #000;padding-left:18px}
.title-name {float:left;font-family: "Microsoft Yahei";padding-bottom:5px}
.title-count{font-size: 24px;font-weight:bold;}
.title-m .title-name{font-size:18px}
.title-m .title-name a{text-decoration:none;}
.title-name i{display:inline-block;*zoom:1;border-style:dashed dashed dashed solid;border-color:transparent;border-left-color:#000;font-size:0;height:0;line-height:0;width:0;border-width:8px 0 8px 13px;vertical-align: middle;margin-right:32px}
.title .title-more{bottom:8px}
.title .title-tab{bottom:4px;right:7px;}
.title-s{border-bottom: 3px solid #3f67c0}
.title-s .title-name{border-bottom: 3px solid #3f67c0;font-size:16px;padding-bottom:5px;display:inline-block;*zoom:1;padding-left:16px;width:120px;}
.title-more{font-size:14px;background: url(../images/ico_more.png) no-repeat right center;padding-right:26px;white-space: nowrap}
.title-more:link,.title-more:visited{color:#092cd8;}
.title-more:hover{color:#779ae9}
.title-more:active{outline:1px dotted #ccc;}
.title-tab li{float:left;width:70px;height:30px;margin-left:1px}
.title-tab li a{display:block;width:100%;height:100%;background: #e4e4e4;text-align: center;color:#626262;line-height: 30px}
.title-tab li.current a{background:#000;color:#fff;font-weight:bold}
.title-tab-blue li.current a{background:#3f67c0;}
.title-tab li a i{display:inline-block;*zoom:1;border-style:dashed dashed dashed solid;border-color:transparent;border-left-color:#6a6a6a;font-size:0;height:0;line-height:0;width:0;border-width:4px 0 4px 5px;vertical-align: middle;margin-left:10px}
.title-tab li.current a i{border-left-color:#fff}

/*滚动条*/
.scrollbar{border:1px solid #dddada;border-width:0 1px;width:18px;box-sizing: border-box;*width:16px;background-color: #e4e1e1;height: 100%;top:0;right: 0;position: absolute}
.scrollbar-handler{width:6px;background: #b5b5b5;height:100px;left:5px;cursor: pointer;position:absolute;display:none}
.scrollbar-bg{height:100%;position:absolute;width:100%}
.scrollbar-handler div{position:absolute;width:100%;height:3px;overflow:hidden;background-image: url(../images/sp_scroll.png);background-repeat:  no-repeat}
.scrollbar-handler-top{background-position:0 0;top:-3px;}
.scrollbar-handler-bottom{background-position:0 -3px;bottom:-3px}
.scrollbar-narrow{position:absolute;width:100%;height:13px;}
.scrollbar-narrow-up{top:0}
.scrollbar-narrow-down{bottom:0}
.scroll-wrapper {position:relative}
.scroll-content {position:absolute}


/*共用 page*/
.page{text-align:center;margin:28px 0 40px;}
.page a{ display:inline-block;line-height: 38px;height: 38px;background-color: #3f67c0;font-size: 14px;color: #fff;text-align: center;margin-right: 3px;cursor: pointer;zoom:1;vertical-align: middle;}

.page a.prev,.page a.next{width: 93px; font-size: 12px;}
.page a{width: 42px;font-size: 14px;}
.page a.current{background-color:#35b5eb;}
.page a.noline:hover{text-decoration: none;}
.page a.prev,.page a.next{background-image:url(../images/bg-commonbtn.png);background-repeat: no-repeat;}
.page a.prev{background-position: 20px -403px;padding-left: 10px;}
.page a.next{background-position: 83px -429px;padding-right: 10px;}
.page .gary{background: #bdc3c7;}
.page .gary:hover{text-decoration: none;cursor: default;}


.icon,.logo-s,.logo-m,.logo-l,.logo-xl,.icon-carlevel,.login-icon,.user-icon{display:inline-block;*display:inline;*zoom:1;vertical-align: middle;}
.icon{ background: url(../images/sprites.png) no-repeat}
.icon-calc{width:16px;height:16px;background-position:-3px -4px;}
.icon-wrapper:hover .icon-calc,.icon-calc:hover{background-position: -3px -20px}
.icon-calender-black{width:16px;height:16px;background-position:-3px -36px;}
.icon-calender-white{width:16px;height:16px;background-position:-3px -52px;}
.icon-loc{width:17px;height:23px;background-position:-23px -4px;}
.icon-wrapper:hover .icon-loc,.icon-loc:hover{background-position:-23px -27px;}
.icon-speed-orange{width:26px;height:18px;background-position:-45px -4px;}
.icon-speed-gray{width:26px;height:18px;background-position:-45px -22px;}
.icon-speed-orange-s{width:20px;height:14px;background-position:-45px -40px;}
.icon-pic{width:20px;height:16px;background-position:-76px -4px;}
.icon-book{width:20px;height:16px;background-position:-76px -20px;}
.icon-book{width:20px;height:16px;background-position:-76px -20px;}
.icon-wrapper:hover .icon-pic,.icon-pic:hover{background-position:-76px -36px;}
.icon-wrapper:hover .icon-book,.icon-book:hover{background-position:-76px -52px;}
.icon-blue-chat{width:32px;height:24px;background-position:-102px -4px;}
.icon-blue-car{width:32px;height:24px;background-position:-102px -28px;}
.icon-menu{width:18px;height:15px;background-position:-141px -4px;}
.icon-tip{width:10px;height:10px;background-position:-141px -22px;}
.icon-clock{width:12px;height:12px;background-position:-141px -37px;}
.icon-oil{width:30px;height:30px;background-position:-167px -4px;}
.icon-volume{width:30px;height:30px;background-position:-167px -34px;}
.icon-close{width:17px;height:17px;background-position:-45px -54px;}
.icon-32{width:32px;height:32px}
.icon-20{width:20px;height:20px}
.icon-24{width:24px;height:24px}
.icon-40{width:40px;height:40px}
.icon-30{width:30px;height:30px}
.icon-64{width:64px;height:64px}
.icon-32-clock{background-position:0 -79px}
.icon-32-star{background-position:-32px -79px}
.icon-32-cart{background-position:-64px -79px}
.icon-32-back{background-position:-96px -79px}
.icon-32-zoom{background-position:-128px -79px}
.icon-32-chat{background-position:-160px -79px}
.icon-32-group{background-position:0 -111px}
.icon-32-car{background-position:-32px -111px}
.icon-32-phone{background-position:-64px -111px}
.icon-32-info{background-position:-96px -111px}
.icon-32-tool{background-position:-128px -111px}
.icon-24-clock{background-position:0 -143px}
.icon-24-star{background-position:-24px -143px}
.icon-24-cart{background-position:-48px -143px}
.icon-24-back{background-position:-72px -143px}
.icon-24-zoom{background-position:-96px -143px}
.icon-24-chat{background-position:-120px -143px}
.icon-24-group{background-position:0 -167px}
.icon-24-car{background-position:-24px -167px}
.icon-24-phone{background-position:-48px -167px}
.icon-24-info{background-position:-72px -167px}
.icon-24-tool{background-position:-96px -167px}
.icon-checked-s{width:16px;height:16px;background-position: 0 -191px}
.icon-refuse-s{width:16px;height:16px;background-position: -16px -191px}
.icon-alert-s{width:16px;height:16px;background-position: -32px -191px}
.icon-refuse-gray-s{width:16px;height:16px;background-position: -48px -191px}
.icon-checked-m{width:24px;height:24px;background-position: 0 -207px}
.icon-refuse-m{width:24px;height:24px;background-position: -24px -207px}
.icon-alert-m{width:24px;height:24px;background-position: -48px -207px}
.icon-alert-gray-m{width:24px;height:24px;background-position: -72px -207px}
.icon-checked-l{width:32px;height:32px;background-position: 0 -231px}
.icon-refuse-l{width:32px;height:32px;background-position: -32px -231px}
.icon-alert-l{width:32px;height:32px;background-position: -64px -231px}
.logo-vw{background: url(../images/logos/logo_vw.png) no-repeat}
.logo-skoda{background: url(../images/logos/logo_skoda.png) no-repeat}
.logo-buick{background: url(../images/logos/logo_buick.png) no-repeat}
.logo-chevrolet{background: url(../images/logos/logo_chevrolet.png) no-repeat}
.logo-cadillac{background: url(../images/logos/logo_cadillac.png) no-repeat}
.logo-roewe{background: url(../images/logos/logo_roewe.png) no-repeat}
.logo-mg{background: url(../images/logos/logo_mg.png) no-repeat}
.logo-baojun{background: url(../images/logos/logo_baojun.png) no-repeat}
.logo-xl{width:90px;height:80px;background-position: 0 0}
.logo-l{width:70px;height:60px;background-position: 0 -80px}
.logo-m{width:55px;height:45px;background-position: 0 -150px}
.logo-s{width:40px;height:30px;background-position: 0 -195px}
.icon-carlevel{background: url(../images/sprites_carlevel.png) no-repeat;width:50px;height: 20px}
.icon-carlevel-mini{background-position:0 0}
a:hover .icon-carlevel-mini,.icon-carlevel-white-mini,.hoverlevel .icon-carlevel-mini{background-position:0 -20px}
.icon-carlevel-small{background-position:-50px 0}
a:hover .icon-carlevel-small,.icon-carlevel-white-small,.hoverlevel .icon-carlevel-small{background-position:-50px -20px}
.icon-carlevel-compact{background-position:-100px 0}
a:hover .icon-carlevel-compact,.icon-carlevel-white-compact,.hoverlevel .icon-carlevel-compact{background-position:-100px -20px}
.icon-carlevel-medium{background-position:-150px 0}
a:hover .icon-carlevel-medium,.icon-carlevel-white-medium,.hoverlevel .icon-carlevel-medium{background-position:-150px -20px}
.icon-carlevel-large{background-position:-200px 0}
a:hover .icon-carlevel-large,.icon-carlevel-white-large,.hoverlevel .icon-carlevel-large{background-position:-200px -20px}
.icon-carlevel-luxury{background-position:-250px 0}
a:hover .icon-carlevel-luxury,.icon-carlevel-white-luxury,.hoverlevel .icon-carlevel-luxury{background-position:-250px -20px}
.icon-carlevel-mpv{background-position:-300px 0}
a:hover .icon-carlevel-mpv,.icon-carlevel-white-mpv,.hoverlevel .icon-carlevel-mpv{background-position:-300px -20px}
.icon-carlevel-suv{background-position:-350px 0}
a:hover .icon-carlevel-suv,.icon-carlevel-white-suv,.hoverlevel .icon-carlevel-suv{background-position:-350px -20px}
.icon-carlevel-sportscar{background-position:-400px 0}
a:hover .icon-carlevel-sportscar,.icon-carlevel-white-sportscar,.hoverlevel .icon-carlevel-sportscar{background-position:-400px -20px}
.icon-itemall{background-position: 0 -268px}
.icon-service-share,.icon-service-gear,.icon-service-drawer,.icon-service-money{width: 54px;height: 66px}
.icon-service-send,.icon-service-tool{width: 66px;height: 66px}
.icon-service-share{background-position: -6px -303px}
.icon-service-gear{background-position: -73px -303px}
.icon-service-drawer{background-position: -142px -303px}
.icon-service-send{background-position: 0 -370px}
.icon-service-tool{background-position: -70px -370px}
.icon-service-money{background-position: -142px -370px}
.icon-20-clock{background-position: -141px -53px}


/*登录注册公用图标,login_icon*/
.login-icon{ background: url(../images/login/login_icon.png) no-repeat;}
.icon-32-mobile{ background-position:0 0;}
.icon-32-mobile-gray{ background-position:-42px 0;}
.icon-32-email{ background-position:-84px 0;}
.icon-32-email-gray{ background-position:-126px 0;}
.icon-32-user{ background-position:-168px 0;}
.icon-32-user-gray{ background-position:-210px 0;}
.icon-round-gray{ width:23px; height:23px; background-position:0 -42px;}
.icon-round-orange{ width:23px; height:23px; background-position:-33px -42px;}
.icon-round-yellow{ width:23px; height:23px; background-position:-66px -42px;}
.icon-round-okgray{ width:23px; height:28px; background-position:-99px -42px;}
.icon-round-okorange{ width:23px; height:28px; background-position:-132px -42px;}

/*个人中心公用图标,user_icon*/
.user-icon{ background: url(../images/user/user_icon.png) no-repeat;}
.icon-64-password-gray{ background-position:0 0;}
.icon-64-password{ background-position:-64px 0;}
.icon-64-user-gray{ background-position:-128px 0;}
.icon-64-user{ background-position:-192px 0;}
.icon-64-email-gray{ background-position:0 -64px;}
.icon-64-email{ background-position:-64px -64px;}
.icon-64-mobile-gray{ background-position:-128px -64px;}
.icon-64-mobile{ background-position:-192px -64px;}
.icon-64-orders-light{ background-position:0 -128px;}
.icon-64-orders-blue{ background-position:-64px -128px;}
.icon-64-reply-light{ background-position:-128px -128px;}
.icon-64-reply-blue{ background-position:-192px -128px;}
.icon-64-news-light{ background-position:0 -192px;}
.icon-64-news-blue{ background-position:-64px -192px;}
.icon-64-mobile-light{ background-position:-128px -192px;}
.icon-64-mobile-blue{ background-position:-192px -192px;}
.icon-64-email-light{ background-position:0 -256px;}
.icon-64-email-blue{ background-position:-64px -256px;}
.icon-64-user-light{ background-position:-128px -256px;}
.icon-64-user-blue{ background-position:-192px -256px;}
.icon-round-64tip{ width:28px; height:28px; background-position:0 -320px; margin:0 0 0 36px}


/* 会员中心*/
.m-member{width: 286px;padding:13px 8px 11px;border: 2px solid #dedede;color: #6b6b6b;font-size: 14px;line-height:14px;}
.m-member:focus{border-color: #35b5ed;}
.m-member-orange,.m-member-err{border-color: #ff8e82;}
.m-member-focus{border-color: #35b5ed;}
.m-member220-46{ width:182px;}
.m-member-gray:focus{border-color: #aaaaaa;}
.m-notice{display: inline-block;border: 1px solid #35b5ed;background-color:#eaf8fe;color: #6b6b6b;line-height:20px;padding:6px 15px;max-width:248px;*top:3px;*position:relative;}

.m-notice i{display: none}
.m-err{border-color: #ff8e82;background-color: #fff9f3;color: #ff8e42; position: relative; padding-left:40px;}
.m-err i{display: inline-block;width: 25px;height: 25px; background: #ddd; position: absolute;left: 8px;top: 3px;background:url(../images/styleclose.png) no-repeat 0 0;}
/* input 提示 冲置*/
.m-user{ width:260px; padding:9px 8px 9px; border-width:1px;}
.m-user-tip{ padding-top:8px; padding-bottom:8px; margin-left:15px; font-size:12px;}
.m-err i{top: 5px;}

.breadcrumbs span{color:#od6fcd;}
.msgbox{border: 1px solid #fff;padding:5px 8px}
.msgbox .icon{margin-right:10px}
.msgbox-orange {border-color:#fd8e4b;background-color:#fff9f3;color:#ff8e42}
.msgbox-gray {border-color:#ababab;background-color:#f6f6f6;color:#959595}
[placeholder]:-webkit-input-placeholder{color:#999}
[placeholder]:-ms-input-placeholder{color:#999}
[placeholder]:-moz-placeholder{color:#999}
[placeholder]:focus::-webkit-input-placeholder{opacity: 0}
[placeholder]:focus::-moz-placeholder{opacity: 0}


/* 底部 */
.footer{width:100%;background:#e0e0e0;overflow:hidden; margin-top:50px;}
.footer .footer_link{width:960px;margin:0 auto;overflow:hidden;height:92px;line-height:92px;}
.footer .footer_link li{float:left;font:14px "Microsoft Yahei";line-height:92px;padding-left:31px;}
.footer .footer_link li a{display:block;color:#434242;}
.footer .footer_link .dealersenter{width:88px;height:40px;background:url(../images/footerdealersenter.png) no-repeat;line-height:40px;padding-left:13px;margin-top:26px;margin-left:29px;}
.footer .footer_link .dealersenter a{color:#fff;}
.footer .copyrightbox{width:100%;background:#f9f9f9;padding:40px 0 40px;}
.footer .simplecopy{ padding:24px 0 40px;}
.footer .copyrightbox .copyright{width:960px;margin:0 auto;}
.footer .copyrightbox .copyright p{text-align:center;font:12px/24px "Microsoft Yahei";color:#7d7d7d;}
.footer .copyrightbox .subfooter{margin-top:30px; text-align:center;}
.footer .copyrightbox .subfooter a{padding:0 5px;}
